option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings
    DEBUG: "False"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:container:python:
    WSGIPath: config.wsgi:application
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  02_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  03_clean_features:
    command: "python manage.py clean_studio_features"
    leader_only: true
