{% extends "emails/base.html" %}
{% block content %}
<p>We've received your payment of <strong>${{ amount }}</strong> for <em>{{ description }}</em>. Thank you!</p>
<div class="highlight-box">
  <strong>Amount paid:</strong> ${{ amount }}<br>
  <strong>For:</strong> {{ description }}<br>
  <strong>Business:</strong> Duality Pole Studio<br>
  <strong>ABN:</strong> [ABN_PLACEHOLDER]
</div>
<p>Please keep this email as your receipt. If you have any questions, reply to this email or contact us at intrigued@dualitypole.com.</p>
{% endblock %}
